
/*---------------------------------------------------*/
/*               ACTIVITY BAR AS A WHOLE             */
/*---------------------------------------------------*/
#activity_bar, #activity_bar button, #activity_bar a {
	color: #666666;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
#current_song, 
#experience_settings {
	width: 15%;
	height: 100%;
	min-height: 100%;
}

#current_song {
	float: left;
}

#experience_settings {
	padding: 1em;
	float: right;
}

#experience_settings > * {
	min-height: 100%;
	height: 100%;
}

#player_controls {
    margin: auto;
    max-width: 50%;
	padding: 1em;
	overflow: hidden;
}

#player_controls > * {
	width: 100%;
	clear: both;
}


/*---------------------------------------------------*/
/*                  Range Sliders                    */
/*---------------------------------------------------*/



/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*            CURRENT SONG'S INFORMATION             */
/*---------------------------------------------------*/
#current_song {
	display: inline-flex;
}

#current_song > * {
	margin: auto;
	width: auto;
}

#add_to_queue p a,
#view_queue p a
{
	background-color: rgba(0,0,0,0);
	font-size: 2em;
}

#info_album, 
#add_to_queue,
#view_queue
{
	min-width: 10%;
}

#info_album img, 
#add_to_queue p a {
	width: 100%;
	border: none;
	margin: auto;
}

#info_album img:before, 
#add_to_queue p a:before,
#info_album img:after, 
#add_to_queue p a:after
{
	content: "";
	display: block;
	max-height: 100%;
}

#info_album img:before, 
#add_to_queue p a:before {
	padding-top: 50%;
}

#info_album img:after, 
#add_to_queue p a:after {
	padding-bottom: 50%;
}

#info_banner {
	width: auto;
	border: none;
}

#info_banner * {

	font-size: 1em;
}


/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*                 PLAYLIST SETTINGS                 */
/*---------------------------------------------------*/
*[id^="btn_"] {
	cursor: pointer;
}

#controls {
	width: 100%;
	margin: auto;
}


#list_layout {
	display: flex;
	width: 100%;
	list-style-type: none;
	padding: 0;
}

#list_layout li {
	margin: auto;
	width: calc( 100% / 20 );
	text-align: center;
}

#list_layout li img {
	margin: auto;
	width: 50%;
}




#playlist_settings {
	width: 75%;
	margin: auto;
}

#playlist_settings li {
	padding: 0;
	 /* 
	 	6 = # of elements + 1
	 	--> because last one is technically two elements wide

	 	3em because margin on both sides
	 *//*
	width: -o-calc(      ( 100% - ( 3em * 6 ) ) / 6 );
	width: -ms-calc(     ( 100% - ( 3em * 6 ) ) / 6 );
	width: -moz-calc(    ( 100% - ( 3em * 6 ) ) / 6 );
	width: -webkit-calc( ( 100% - ( 3em * 6 ) ) / 6 );
	width: calc(         ( 100% - ( 3em * 6 ) ) / 6 );
*/
	min-width: 5%;
	max-width: 5%;
	width: 5%;
	height: auto;
	margin: auto;
	/*background-color: red;*/
	overflow: hidden;
}

#playlist_settings .icon:after {
	padding-top: 100%;
	content: "";
	display: block;
}


#playlist_settings li img {
	width: 100%;
	margin: auto;
	vertical-align: top;
}

.time {
	max-width: 15%;
	font-size: .75em;
}

#progress_bar {
    margin: 0;
    padding: 2px 1em;
    overflow: hidden;
    height: 5px;
}

/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*                   Progress Bar                    */
/*---------------------------------------------------*/

/* Progress Bar Area */
/*
#progress_bar progress
*/

/* Progress Bar "Completed"-Value */


/*
#progress_bar progress::-webkit-progress-bar,
#progress_bar progress::-moz-progress-bar,
#progress_bar progress::-o-progress-bar,
#progress_bar progress::-ms-progress-bar,
{
    width: 100%;
    border: 0;
    padding: 0;
	border-radius: 2px;
	background-color: #333;
}

#progress_bar progress::-webkit-progress-value,
#progress_bar progress::-moz-progress-value,
#progress_bar progress::-o-progress-value,
#progress_bar progress::-ms-progress-value,
#progress_bar progress[value]
{
	background-color: #ccc;
}
*/
#progress_bar progress {
    width: 100%;
    border: 0;
    /*padding: 0;*/
	border-radius: 2px;
	background-color: #333;
}

#progress_bar progress[value] {
	background-color: #ccc;
}


#progress_bar progress::-webkit-progress-bar {
    width: 100%;
    border: 0;
    /*padding: 0;*/
	border-radius: 2px;
	background-color: #333;
}

#progress_bar progress::-webkit-progress-value {
	background-color: #ccc;
}

#progress_bar progress::-moz-progress-bar {
    width: 100%;
    border: 0;
    /*padding: 0;*/
	border-radius: 2px;
	background-color: #ccc;
}

#progress_bar progress::-moz-progress-value {
	background-color: #333;
}

#progress_bar progress::-o-progress-bar {
    width: 100%;
    border: 0;
    /*padding: 0;*/
	border-radius: 2px;
	background-color: #333;
}

#progress_bar progress::-o-progress-value {
	background-color: #ccc;
}

#progress_bar progress::-ms-progress-bar {
    width: 100%;
    border: 0;
    /*padding: 0;*/
	border-radius: 2px;
	background-color: #333;
}

#progress_bar progress::-ms-progress-value {
	background-color: #ccc;
}
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/




/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*              LISTENING SETTINGS AREA              */
/*---------------------------------------------------*/

#experience_settings {
	display: inline-block;
	vertical-align: middle;
}

#experience_settings label {
	display: none;
}

#experience_settings > * {
	height: 100%;
	margin: auto;
}

#experience_settings ul {
	list-style-type: none;
}

#experience_settings ul li {
	float: right;
}
