/*
	Creator: Andrew D Pankow
	Title: Case Study - Spotify

	This is a case-study attempt to better my front end skills. 
	I will be using Spotify for this particular study.
	I may end up taking this the full mile, but for now, just an attempt to recreate the UI with my style.
	Also, I don't have a Spotify account, so I've asked my roommate to screenshot their web-app; this is what I'm basing on.
*/

:root{
	--color-body-bg:   #ffffff;  /* white */
}
body {
	margin: auto;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-body-bg);
}


/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*                         Control Panel Variables                        */
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
#control_panel {
	/*--------------------------------------------------------------------*/
	/*                              constants                             */
	/*--------------------------------------------------------------------*/
	--num-player-controls:     5;
	--num-settings-buttons:    4;

	/*--------------------------------------------------------------------*/
	/*                                colors                              */
	/*--------------------------------------------------------------------*/
	--color-cp-border:         #000000;  /*black*/
	--color-cp-bg:             #2c2c2c;  /*dark grey*/
	--color-cp-shaded:         #424242;  /*medium grey*/
	--color-cp-normal:         #9f9f9f;  /*light grey*/
	--color-cp-play-title:     #ffffff;  /*white*/

	/*--------------------------------------------------------------------*/
	/*                                images                              */
	/*--------------------------------------------------------------------*/
	--img-play:                url("../images/player_icons/play.svg");
	--img-pause:               url("../images/player_icons/pause.svg");
	--img-next:                url("../images/player_icons/next.svg");
	--img-previous:            url("../images/player_icons/previous.svg");
	--img-shuffle:             url("../images/player_icons/shuffle.svg");
	--img-repeat:              url("../images/player_icons/repeat.svg");
	--img-add-to-queue:        url("../images/player_icons/add_to_queue.svg");
	--img-view-queue:          url("../images/player_icons/queue.svg");
	--img-mute:                url("../images/player_icons/mute.svg");
	--img-get-app:             url("../images/player_icons/get_app.svg");
	--img-theme:               url("../images/player_icons/brush.svg");

	/*--------------------------------------------------------------------*/
	/*                                 sizes                              */
	/*--------------------------------------------------------------------*/
	/*control panel (as a whole)*/
	--cp-height:               8%;
	--cp-width:                100%;
	--cp-top-border-size:      1px;     /*Spotify has a divider bar between content and controls*/
	--cp-padding:              1em;     /*total surrounding padding inside the control panel*/
	--cp-wing-max-width:       20%;     /*currently playing and experience settings sections*/
	--cp-icon-size:            35px;    /*all icons in the control panel are the same scale*/
	--slider-height:           0.75ex;  /*progress and volume sliders; .75ex for the height of the 'x'*/
	--slider-rounded-edge:     5px;     /*progress and volume sliders*/

	/*currently playing section*/
	--cp-playing-album-size:   50px;    /*size of thumbnail displayed for the currently playing playlist/album*/
	--cp-playing-info-dist:    1em;     /*gap between the album thumbnail and the song info*/

	/*media settings section*/
	--cp-media-settings-width: 40%;     /*the max width the media settings can expand to*/
	--controls-width:          calc(50% / var(--num-player-controls));
	--time-progress-dist:      1em;     /*gap between duration values and the progress bar*/

	/*experience settings section*/
	--volume-to-icon-ratio:    3;       /*the number of icons that the volume bar should have the same width as*/
	--volume-bar-max-width:    50%;     /*the volume bar's maximum width in the experience settings section*/
	--settings-width:          calc((100% - var(--volume-bar-max-width)) / var(--num-settings-buttons));
}


/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*                  Control Panel Positions and Layout                    */
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
#control_panel {
	padding: var(--cp-padding);
	border-top: solid var(--cp-top-border-size) var(--color-cp-border);

	width: 100%;
	min-width: calc(var(--cp-width) - (var(--cp-padding) * 2));
	max-width: calc(var(--cp-width) - (var(--cp-padding) * 2));

	height: 100%;
	/*height needs to include the thickness of the divider bar and the total surrounding padding*/
	max-height: calc(var(--cp-height) - var(--cp-top-border-size) - (var(--cp-padding) * 2));
	/*should be at least as tall as the album image with at least half of the surrounding padding*/
	min-height: calc(var(--cp-playing-album-size) + (var(--cp-padding))); /*not doubling the padding because of automatic margins*/
	
	align-items: stretch;
	position: absolute;
	bottom: 0;
	overflow: hidden;
}

/*------------------------------------------------------------------------*/
/*                             hidden stuff                               */
/*------------------------------------------------------------------------*/
#control_panel h1,  /*don't need to see the section titles*/
label,              /*probably don't need to see the input labels*/
.label              /*don't need to see intentionally marked labels on the full site*/
{
	display: none;
}


/*------------------------------------------------------------------------*/
/*            inline and filled out the width of the container            */
/*------------------------------------------------------------------------*/
#control_panel,      /*the whole thing will be laid out horizontally*/
#main_controls,      /*the play/pause/shuffle/etc. buttons should be in a row*/
#play_progress,      /*the timeline and time labels should be in a row*/
#settings,           /*the experience settings should be laid out horizontally*/
#currently_playing,  /*the currently playing art and info should be in a row*/
#media_settings      /*the buttons and timeslider should fill the area... (but vertically)*/
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* align-items: space-between; */
}

#currently_playing,  /*the currently playing items should be left aligned not spread out*/
#settings            /*should be right aligned not spread out, row-reversal will invert this concept to `right`*/
{
	justify-content: left;
}


/*------------------------------------------------------------------------*/
/*                        reversed inline direction                       */
/*------------------------------------------------------------------------*/
#settings  /*the volume control should be all the way to the right*/
{
	flex-direction: row-reverse;
}


/*------------------------------------------------------------------------*/
/*                          inline list cleanup                           */
/*------------------------------------------------------------------------*/
#main_controls,
#settings
{
	padding: 0;             /*helps balance the element on screen*/
	list-style-type: none;  /*the dots get in the way of the text, when horizontal*/
}


/*------------------------------------------------------------------------*/
/*                            inline ordering                             */
/*------------------------------------------------------------------------*/
#currently_playing,
#btn_shuffle,
#time_current,
#currently_playing_art
{
	order: 1;
}
#media_settings,
#btn_previous,
#ctrl_scrub_bar,
#currently_playing_info
{
	order: 2;
}
#btn_play_pause,
#experience_settings,
#time_total,
#add_to_queue
{
	order: 3;
}
#btn_next
{
	order: 4;
}
#btn_repeat 
{
	order: 5;
}


/*------------------------------------------------------------------------*/
/*                             inline spacing                             */
/*------------------------------------------------------------------------*/
#control_panel > *,
#main_controls > *,
#settings > *,
#play_progress > *
{
	align-self: center;  /*for vertical alignment to center*/
	text-align: center;  /*for default text alignment to center*/
}


/*------------------------------------------------------------------------*/
/*                            currently playing                           */
/*------------------------------------------------------------------------*/
#currently_playing_art {
	margin: auto 0;
	min-width:  var(--cp-playing-album-size);
	min-height: var(--cp-playing-album-size);
}

#currently_playing_info {
	width: auto;
	margin: auto var(--cp-playing-info-dist);
}

#currently_playing_info > * {
	margin: auto;
}


/*------------------------------------------------------------------------*/
/*                       icon sizing and alignment                        */
/*------------------------------------------------------------------------*/
#settings,
#main_controls {
	min-height: var(--cp-icon-size);
	text-align: center;
}

#main_controls {
	margin: auto;
	width: var(--cp-media-settings-width);
	justify-content: space-evenly;
}

#settings > *:not(:first-child), /*everything except the volume slider*/
#main_controls > *,
#add_to_queue
{
	visibility: hidden;
	position: relative;
}
#settings > li:first-child /*everything except the volume slider*/
{
	width: calc(var(--cp-icon-size) * var(--volume-to-icon-ratio));
	max-width: var(--volume-bar-max-width);
	margin: auto 0;
}

#settings > *:not(:first-child),
#main_controls > *
{
	width: var(--cp-icon-size);
}

#add_to_queue {
	width: var(--cp-icon-size);
	height: auto;
	padding: 0;
}

#main_controls > *:after,
#settings > *:not(:first-child):after, /*everything except the volume slider*/
#add_to_queue:after
{
	visibility: visible;
	content: "";
	display: block;
	max-height: var(--cp-icon-size);
	height:     var(--cp-icon-size);
	max-width:  var(--cp-icon-size);
	width:      var(--cp-icon-size);

	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;

	position: absolute;
	top:    0;
	left:   0;
	right:  0;
	bottom: 0;
	margin: auto;
}


/*------------------------------------------------------------------------*/
/*                          polishing touches                             */
/*------------------------------------------------------------------------*/
#currently_playing,
#experience_settings
{
	width: auto;
	max-width: var(--cp-wing-max-width);
	flex-grow: 1;
}

#ctrl_scrub_bar {
	flex-grow: 1;
}

#media_settings {  /*the buttons and timeslider should fill the area... (but vertically)*/
	flex-grow: 3;
	flex-direction: column;
	align-self: stretch;
	flex-wrap: nowrap;
	max-width: var(--cp-media-settings-width);
}

#ctrl_volume{
	width: 100%;
	margin: auto;
}

.time {
	padding: var(--time-progress-dist);
}


/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*                   Control Panel Colors and Styling                     */
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
#control_panel {
	color: var(--color-cp-normal);
	background-color: var(--color-cp-bg);
	font-family: sans-serif;
	font-size: 1em;
}

#currently_playing {
	text-align: left;
	font-size: .85em;
}

#currently_playing_title {
	color: var(--color-cp-play-title);
	padding-bottom: 0.5em;
}

#currently_playing_details,
.time
{
	font-size: .75em;
}


/*------------------------------------------------------------------------*/
/*                                  icons                                 */
/*------------------------------------------------------------------------*/
#btn_play_pause:after          /*Initially not playing*/
#btn_play_pause.paused:after   /*if paused, should be presented with the play button*/
{
	background-image: var(--img-play);
}
#btn_play_pause.playing:after  /*if playing, should be presented with the pause button*/
{
	background-image: var(--img-pause);
}
#btn_next:after {
	background-image: var(--img-next);
}
#btn_previous:after {
	background-image: var(--img-previous);
}
#btn_shuffle:after {
	background-image: var(--img-shuffle);
}
#btn_repeat:after {
	background-image: var(--img-repeat);
}
#add_to_queue:after {
	background-image: var(--img-add-to-queue);
}
#btn_mute:after {
	background-image: var(--img-mute);
}
#btn_view_queue:after {
	background-image: var(--img-view-queue);
}
#btn_set_css_view:after {
	background-image: var(--img-get-app);
}
#btn_set_new_theme:after {
	background-image: var(--img-theme);
}


/*------------------------------------------------------------------------*/
/*                   play progress and volume sliders                     */
/*------------------------------------------------------------------------*/
input[type='range'] {
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	overflow: hidden;
	height: var(--slider-height);
	background-color: var(--color-cp-shaded);
}
input[type='range']::-webkit-slider-runnable-track {
	margin-top: -1px;
}
input[type='range']::-moz-range-progress {
	background-color: var(--color-cp-normal); 
}
input[type='range']::-moz-range-track {  
	background-color: var(--color-cp-shaded);
	margin-top: -1px;
}
input[type='range']::-ms-track {
	margin-top: -1px;
}
input[type="range"]::-ms-fill-lower {
  background-color: var(--color-cp-normal); 
}
input[type='range']::-ms-fill-upper {  
  background-color: var(--color-cp-shaded);
}

input[type='range']::-webkit-slider-thumb
{
	height: 0;
	width: 0;
	-webkit-appearance: none;
	appearance: none;
	box-shadow: -100vw 0 0 100vw var(--color-cp-normal);
}
input[type='range']::-moz-range-thumb
{
	height: 0;
	width: 0;
	-moz-appearance: none;
	appearance: none;
	box-shadow: -100vw 0 0 100vw var(--color-cp-normal);
}
input[type='range']::-ms-thumb {
	height: 0;
	width: 0;
	-ms-appearance: none;
	appearance: none;
	box-shadow: -100vw 0 0 100vw var(--color-cp-normal);
}
