#menu_options {
	position: relative;
	min-height: 100%;
}

#main_menu, #recents_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main_menu li, #recents_menu li {
    margin: 0;
    padding: 0;
}

#link_profile {
	position: absolute;
	bottom: 0;
}

a {
	color: #ccc;
	text-decoration: none;
	margin: auto;
}