body {
	max-height: 100vh;
	min-height: 100vh;
	max-width: 100vw;
	min-width: 100vw;
	margin: 0;
	padding: 0;
	background-color: #3B3B3B; /* #3B3B3B -> deep grey */
	position: relative;
}

a {
	cursor: pointer;
}

.label1, label, input[type=radio], input[type=checkBox],
.label {
	display: none !important;
}



#window {
	min-height: 85vh;
	max-height: 85vh;
	max-width: 100vw;
	min-width: 100vw;
	margin: auto;
	padding: 0;

	display: flex;
	position: absolute;
	top: 0;
}

#side_menu {
	width: 10vw;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 1em;
	color: #ffffff;

    background-color: rgba(0,0,0,.45);
}

#activity_bar {
	max-height: -o-calc(15vh - 1px);
	min-height: -o-calc(15vh - 1px);
	max-height: -ms-calc(15vh - 1px);
	min-height: -ms-calc(15vh - 1px);
	max-height: -moz-calc(15vh - 1px);
	min-height: -moz-calc(15vh - 1px);
	max-height: -webkit-calc(15vh - 1px);
	min-height: -webkit-calc(15vh - 1px);
	max-height: calc(15vh - 1px);
	min-height: calc(15vh - 1px);

	max-width: 100vw;
	min-width: 100vw;

	border-top: 1px solid #000000;
	position: absolute;
	bottom: 0;
	display: flex;

	margin: auto;
	padding: 0;
	background-color: #2c2c2c;
	overflow: hidden;
}


ul.flip_flop_stretch_my_children {
    list-style-type: none;
}
.flip_flop_stretch_my_children {
    margin: 0;
    padding: 0;
    text-align: center;
}
.flip_flop_stretch_my_children > * {
    width: auto;
    margin: auto;
    padding: 0 .5em;
}
ul.flip_flop_stretch_my_children > * {
    display: inline-flex;
	margin: 0;
}

.flip_flop_stretch_my_children > *:nth-child(odd)
{ /* indices start at 1, this includes hidden headers */
	float: left;
}

.flip_flop_stretch_my_children > *:nth-child(even)
{ /* indices start at 1, this includes hidden headers */
	float: right;
}

.flip_flop_stretch_my_children > *:last-child {
	float: none;
    overflow: hidden;
    padding: 2px 1em;
}

.flip_flop_stretch_my_children > *:last-child > * {
    display: block;
    max-width: 100%;
    min-width: auto;
    width: 100%;
	margin: 0;
}

.left {float: left !important;}

.right {float: right !important;}