#play_progress {
	padding: 1em 0;
}



#controls {
	width: 100%;
	margin: auto;
}


#list_layout {
	display: flex;
	width: 100%;
	list-style-type: none;
	padding: 0;
}

#list_layout li {
	margin: auto;
	width: calc( 100% / 5 );
	text-align: center;
}

#list_layout li img {
	margin: auto;
	width: 50%;
}